# This file shows all necessary dependencies that was installed when setting up the project.

# project requirements

Install Python
 Ensure you have Python 3.x installed.
 To check,run:python --version or python3 --version

Clone the repository
 git clone https://github.com/BodeMurairi2/medical_app
   
Create a Virtual Environment
 #It is recommended to install project dependencies inside a virtual environment to avoid conflicts.
 For Windows: python -m venv venv
 For Linux/Mac: python3 -m venv venv

Activate the Virtual Environment
For Windows: venv\Scripts\activate
 For Linux/Mac: source venv/bin/activate

# Required Python Modules

Install SQLAlchemy (for database handling)
 pip3 install SQLAlchemy
Install fpdf (for PDF file generation)
 pip3 install fpdf
Install dotenv (for environment variables)
pip3 install python-dotenv
 # After installing dependencies, start your project by running:
change your directory to the setup directory and run:
 python3 main.py to add data to the database and read data from the database on windows
python3 email_alerts.py or python3 send_reminders.py to send reports and reminders

On Linux/MacOs
./main.py or python main.py
./send_reminders or python send_reminders.py
./email_alerts.py or python email_alerts.py

